<div>
  <div class="top-cont">
    <div class="current-rate" [ngClass]="tariffs[0]?.value_inc_vat|priceColor">
      <span class="price">
        {{tariffs[0]?.value_inc_vat}}
      </span>
      <span class="pence">p</span>
    </div>
    <div class="wave__container">
      <div class="wave__circle"></div>
      <div class="wave__circle"></div>
      <div class="wave__circle"></div>
    </div>
  </div>
  <div *ngFor="let tariff of tariffs" class="tariff card">
    <span class="time">
      <span>{{tariff.valid_from|date:'h:mm'}}</span>
      <span class="ampm">{{tariff.valid_from|date:'a'}}</span>
      <span class="date" *ngIf="tariff.isTomorrow">{{tariff.valid_from|date:'d MMM'}}</span>
    </span>
    <span class="price" [ngClass]="tariff.value_inc_vat|priceColor">{{tariff.value_inc_vat}} p</span>
  </div>
</div>