.container {
  display: flex;
  flex-direction: column
}

h2 {
  text-align: center;
  font-size: 2.2rem;
}

.day_card {
  .date {
    border: 0.2rem solid rgb(88, 64, 255);
    border-radius: 1.6rem;
    background-color: rgb(24, 0, 72);
    color: azure;
    margin: 10px;
    padding: 10px 15px;
    font-size: 1.8rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: stretch;

    &>div {

      &:last-child {
        flex: 1;
        text-align: right;
      }
    }

    .sm {
      font-size: 1.5rem;
    }
  }
}

.consumption {
  font-size: 2rem;

  span {
    flex: 1;

    &:last-child {
      text-align: right;
    }
  }

  .price {
    font-size: 1.5rem;

    .unit {
      font-size: 1rem;
    }
  }
}

button.more {
  font-size: 1.4rem;
  margin: 20px;
  border: none;
  padding: 10px;
  text-align: center;
  background: rgb(240, 80, 248);
  color: white;
  border-radius: 2rem;
}