<router-outlet></router-outlet>
<div class="tab" [class.tariff]="tariff.isActive" [class.consumption]="consumption.isActive"
  [class.settings]="settings.isActive">
  <div class="icons">
    <a href="" [routerLink]="''" routerLinkActive="active" #tariff="routerLinkActive"
      [routerLinkActiveOptions]="{exact: true}" class="a-tariff">
      <!-- <img src="assets/monitoring.svg" /> -->
    </a>
    <a href="" [routerLink]="'consumption'" routerLinkActive="active" #consumption="routerLinkActive"
      [routerLinkActiveOptions]="{exact: true}" class="a-consumption">
      <!-- <img src="assets/pound.svg" /> -->
    </a>
    <a href="" [routerLink]="'settings'" routerLinkActive="active" #settings="routerLinkActive"
      [routerLinkActiveOptions]="{exact: true}" class="a-settings">
      <!-- <img src="assets/settings.svg"  /> -->
    </a>
  </div>
  <div class="bar">
    <div class="cap"></div>
    <div class="slider">
      <div class="side"></div>
      <div class="circle"></div>
      <div class="side"></div>
    </div>
    <div class="cap"></div>
  </div>
</div>