.tab {
  position: fixed;
  bottom: 0;
  display: flex;
  align-items: stretch;
  width: 100vw;
  height: 4rem;
  flex-wrap: wrap;
  align-content: center;

  &.tariff .bar .slider .side:first-child,
  &.settings .bar .slider .side:last-child {
    flex-grow: 0;
  }

  &.tariff {
    .a-tariff.active {
      top: -1.4rem;
      background-color: darkorange;
    }
  }

  &.consumption {
    .a-consumption.active {
      top: -1.4rem;
      background-color: red;
    }
  }

  &.settings {
    .a-settings.active {
      top: -1.4rem;
      background-color: green;
    }
  }
}

.icons {
  // position: absolute; */
  z-index: 2;
  display: flex;
  justify-content: space-around;
  // width: calc(100% - 2rem);
  width: 100vw;
  padding: 0 0.6rem;

  .a-tariff {
    mask: url(../assets/monitoring.svg);
    mask-size: cover;
  }

  .a-consumption {
    mask: url(../assets/pound.svg);
    mask-size: cover;
  }

  .a-settings {
    mask: url(../assets/settings.svg);
    mask-size: cover;
  }

  a {
    position: relative;
    background: #686868;
    width: 3rem;
    height: 3rem;
    top: 0;
    transition: top 0.75s ease;
  }
}

.bar {
  z-index: 1;
  position: absolute;
  display: flex;
  align-items: stretch;
  filter: drop-shadow(0 0 0.5rem rgba(0, 0, 0, 0.1)) drop-shadow(0 0 0.25rem rgba(0, 0, 0, 0.1));
  width: 100%;
  height: 100%;

  .cap {
    background: white;
    width: 1rem;

    &:first-child {
      border-top-left-radius: 30px;
    }

    &:last-child {
      border-top-right-radius: 30px;
    }
  }

  .slider {
    flex-grow: 1;
    position: relative;
    display: flex;

    .side {
      flex-grow: 1;
      background: white;
      transition: 0.75s ease;
    }

    .circle {
      position: relative;
      top: -1.75rem;
      width: 7rem;
      height: 5.75rem;
      background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='112' height='92' viewBox='0 0 112 92'%3E%3Ccircle cx='56' cy='36' r='36' fill='%23FFF'/%3E%3Cpath d='M104 35.2L104 35.2c0 26.3-20.9 48.3-47.2 48.8C29.9 84.4 8 62.8 8 36v-0.8c0-4-3.2-7.2-7.2-7.2H0v64h112V28h-0.8C107.2 28 104 31.2 104 35.2z' fill='%23FFF'/%3E%3C/svg%3E");
    }
  }

}