/* You can add global styles to this file, and also import other style files */
body {
  // background-image: linear-gradient(to right, #fafafa 0%, #d8d8d8 100%);
  margin: 0;
  padding: 0;
  color: azure;
  background-color: #100030;
}

* {
  box-sizing: border-box;
}

button {
  cursor: pointer;
}

:root {
  --shadowShift: 20px;
  --shadowBlur: 15px;
  --circleColor: rgb(241, 243, 246);
}

.bottom-gap {
  margin-bottom: 100px;
  overflow: hidden;
  display: block;
}

.pad10 {
  padding: 10px;
}

.card {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: stretch;
  padding: 15px;
  box-sizing: border-box;
  margin: 10px 20px;
  border-radius: 10px;
  background-color: rgb(45, 26, 131);
  // background: var(--circleColor);
  // box-shadow: var(--shadowShift) 0 var(--shadowBlur) rgba(55 84 170 / 0.2),
  //   calc(var(--shadowShift) * -1) 0 var(--shadowBlur) rgba(255 255 255 / 1);

  .time {
    text-transform: lowercase;
    position: relative;
    font-size: 1.8rem;

    .ampm {
      font-size: 1.3rem;
    }

    .date {
      position: absolute;
      bottom: -1rem;
      font-size: 1rem;
      left: 5px;
    }
  }
}

.switch {
  display: flex;
  font-size: 1.8rem;
  margin: 0px 20px;

  button {
    flex: 1;
    text-align: center;
    border: none;
    font-size: 1.8rem;
    padding: 5px;
    background: none;
    color: azure;

    &.active {
      background-color: rgb(88, 64, 255);
      color: white;
      border-radius: 10px;
    }
  }
}