h2 {
  text-align: center;
  font-size: 2.2rem;
}

.form {
  display: flex;
  flex-direction: column;

  label {
    font-size: 1rem;
    margin-bottom: 5px;
  }

  .inp {
    font-size: 1.5rem;
    border-radius: 1.2rem;
    margin-bottom: 20px;
    padding: 10px;
    border: 0.2rem solid rgb(88, 64, 255);
    background: transparent;
    color: inherit;

    &:focus {
      border-color: rgb(96, 240, 248);
      outline: none;
    }
  }

  button {
    font-size: 1.4rem;
    margin: 20px 0;
    border: none;
    padding: 10px;
    text-align: center;
    background: rgb(240, 80, 248);
    color: white;
    border-radius: 2rem;
  }

}